/* CSS BY Erwin Reyes */


/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS" */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */

/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */
html {
    min-width: 400px;
}

body {
    font-family: var(--font);
    background-color: var(--white);
    color: var(--black);
}

header {
    background-color: var(--black);
    padding: 2rem 0;
    position: relative;
    box-shadow: 0 8px 15px var(--blue);
    overflow: visible;
    z-index: 100;
}

/* SITE TITLE/LOGO */

h1 {
    color: var(--blue);
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 4rem;
}

h1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
}

/* NAVIGATION */

nav {
    position: relative;
    text-align: center;
}

nav a {
    display: block;
    padding: 1rem;
    font-size: 1.75rem;
    color: var(--blue);
    text-decoration: none;
    font-weight: 700;
    transition: all .3s ease;
}

nav a:hover {
    color: var(--black);
    background-color: var(--blue);
}

nav h2 {
    display: none;
}

nav ul {
    display: none;
    width: 250px;
    background-color: var(--black);
    padding:1rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-left:auto ;
}

.hamburger {
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    display: block;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ ul {
    display: block;
    animation:menuPop .3s ease;
}

@keyframes menuPop {
    from {
        opacity: 0;
        transform: scale(.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/* HERO SECTION */
/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: visible;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero .container {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1rem 1rem;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}

#hero h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--white);
}

#hero p {
    font-size: 1.25rem;
    color: var(--white);
    line-height: 1.5;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 2rem 2rem;
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all .3s ease;
}

.btn:hover {
    background-color: var(--red);
    transform: scale(1.05);
}
/* ANIMATIONS */
/* ADD FLOATING SVG LOGO BEFORE THE H1 */
h1::before {
    content: "";
    left:-.5rem;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
    animation: floatLogo 3s ease-in-out infinite;
}

@keyframes floatLogo {
    0%, 100% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(-65%);
    }
}

h1, h2, h3 {
    animation: fadeDown 1s ease forwards;
    opacity: 0;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* ABOUT SECTION */
h2 {
    font-size: 1.75rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--black);
    padding: 1.5rem 0 1rem 1rem;
    position: relative;
}

#about {
    padding-top: 1.5rem;
}

#about .container p {
    font-size: 1rem;
    line-height: 1.5;
}

/* SERVICES SECTION */
h3 {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1.25rem 0 1.25rem 1rem;
    color: var(--white)
}

article {
    background-color: var(--blue);
    padding: .75rem;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 1rem;
    transition: all .3s ease;
}

article:hover {
    transform: scale(1.05);
}

#services .container p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--white);
}

#services {
    padding-bottom: 4rem;
}

/* RESULTS SECTION */

#results {
    background-color: var(--blue);
    padding: 1.5rem;
}

#results h2 {
    color: var(--white);
    padding: 1.5rem 0 1rem 1 rem;
}

#results p {
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
}

#results h3 {
    font-size: 1.75rem;
    font-weight: 700;
    padding: 1.5rem 0 1.5rem 1rem;
}

/* TABLE STYLES */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: var(--black);
    color: var(--white);
}

th, td {
    padding: 1rem;
    text-align: center;
    border: 1px solid var(--charcoal);
}

tr:nth-child(even) {
    background-color: var(--charcoal);
}

/* BAR CHART */
/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: height 1s ease-in-out;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}

/* CONTACT SECTION */
#contact {
    background-color: var(--black);
    padding: 1rem;
}

#contact .container, #contact h2, #contact p {
    color: var(--white);
}

#contact .container h2 {
    padding: 1rem 0 1rem 1rem;
}

#contact .container p {
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 1.5rem;
}

/* CONTACT FORM SECTION */
form {
    padding-bottom: 3rem;
}

input, textarea {
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 3px solid var(--blue);
}

label {
    margin: 0.5rem 0;
    display: block;
}

textarea {
    padding-bottom: 3rem;
}

button[type="submit"] {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
    transition: all .3s ease;
}

button[type="submit"]:hover {
    background-color: var(--red);
    transform: scale(1.05);
}

/* FOOTER SECTION */
footer {
    background-color: var(--black);
    color: var(--white);
    padding-bottom: 2rem;
    text-align: center;
    line-height: 1.5;
}

footer a {
    color: var(--blue);
}

footer a#phone {
    color: var(--white);
    text-decoration: none;
}


/* MEDIA QUERIES (MEDIUM) */ 
@media (min-width: 800px) {

    /* HEADER */
    header {
        padding: 3rem 0;
        position: relative;
        z-index: 1;
    }

    header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h1 span {
        position: absolute;
        transform: translateY(-100%);
    }

    /* NAVIGATION */
    nav {
        margin-top: -4rem;
        margin-right: 7rem;
    }

    nav a {
        text-decoration: none;
        color: var(--blue);
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        padding: .5rem;
    }

    nav ul {
        display: flex;
        gap: 1.5rem;
        align-items: center;
    }
    
    nav::after {
        display: none;
    }

    nav a:hover {
    color: var(--black);
    background-color: var(--blue);
    padding: 1.25rem;
    }

    .hamburger {
        display: none;
    }

    #menu-toggle {
        display: none;
    }

    /* HERO SECTION */
    .btn {
        padding: 1.5rem 2rem;
    }

    /* SERVICES SECTION */
    article {
        min-height: 180px;
    }

    .articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
        align-items: start;
    }

    .articles h3 {
        font-size: 1.5rem;
    }

    .articles p {
        padding-bottom: 0;
        align-items: center;
    }

    /* RESULTS SECTION*/
    #results {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    #results h2, #results p {
        grid-column: 1 / -1;
    }

    #results > h3:first-of-type {
        grid-column: 1;
    }

    .results-container {
        grid-column: 1;
    }

    #results > div:last-child {
        grid-column: 2;
        grid-row: 3;
    }
    .results-table {
        width: 100%;
        height: auto;
    }
    #results .bar-chart {
        width: 90%;
        height: 70%;
    }

    #results h2, #results h3 {
        padding-left:3rem;
    }

    #results p {
        padding-left: 1.5rem;
    }

    .results-table {
        margin-left: 1.5rem;
    }

}


/* MEDIA QUERIES (LARGE) */

@media (min-width:1024px) {

    /* HERO SECTION */
    #hero {
        height: 700px;
        padding: 1rem;
    }

    #hero .container {
        width: 80%;
        padding: 1rem;
        transform: scale(.8);
    }
    
    #hero p {
        max-width: none;
        width: 100%;
        text-align: center;
        margin: 0 auto 2rem;
    }

    #hero p::after {
        content: "";
        display: inline-block;
    }

    /* SERVICES SECTION */
    .articles {
        grid-template-columns:  repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /* RESULTS SECTION */
    #results {
        padding-left: 10%;
        padding-right: 10%;
    }

    /* CONTACT FORM */
    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    form div {
        display: flex;
        flex-direction: column;
    }

    textarea {
        height: 100%;
    }

    button[type="submit"] {
        align-self: start;
        height: fit-content;
    }
}